/*
    Styling from scratch by Anna Erdiawan
    Version: 1.2
*/

/* VARIABLE */
:root {
    --primary-color: #00aeef;
    --secondary-color: #E38E04;
    --dark-color: #4A4A4A;
    --bg-color: #d1f0fc;
}

/* RESET */
body, html {
    margin: 0;
    padding: 0;
    clear: both;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

/* COMPONENTS */
/* Container */
.container {
    max-width: 1114px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

/* Button */
.button {
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    font-size: 16px;
}

.button--primary {
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    transition: 0.3s;
}

.button--primary:hover {
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.3s;
}

.button--secondary {
    background-color: white;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.3s;
}

.button--secondary:hover {
    background-color: var(--secondary-color);
    color: white;
    border: 1px solid var(--secondary-color);
    transition: 0.3s;
}

.button--light {
    background-color: white;
    color: #333333;
    border: 1px solid #333333;
    transition: 0.3s;
}

.button--light:hover {
    background-color: #dedede;
    transition: 0.3s;
}

/* Input Field */
input {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: 300;
}

/* Icons */
.icon--menu {
    background-image: url('./assets/icons/menu.svg');
    background-size: 24px 24px;
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.icon--chat {
    background-image: url('./assets/icons/chat.svg');
    background-size: 24px 24px;
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

.icon--call {
    background-image: url('./assets/icons/call.svg');
    background-size: 24px 24px;
    content: '';
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
}

/* UTILITIES */
/* Helper */
.right--auto {
    margin-right: auto;
}

.left--auto {
    margin-left: auto;
}
/* Typography */
.text--center {
    text-align: center;
}

.text--left {
    text-align: left;
}

.text--right {
    text-align: right;
}

/* SECTIONS */

/* Top Bar Section */
.top-bar {
    background-color: var(--dark-color);
    height: 35px;
    top: 0;
    margin: 0;
}

.top-bar__menu {
    padding: 0;
    margin: 0;
    height: 35px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar__item {
    color: white;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.top-bar__item > img {
    margin-right: 6px;
}

/* Promo Section */
.promo {
    padding: 50px 0;
}

.promo__group {
    display: flex;
    height: 100%;
    padding: 0 20px;
}
.promo__content--first, .promo__content--second {
    height: 50%;
    display: flex;
    border-left: 1px solid #dedede;
}

.promo__content--third, .promo__content--fourth {
    height: 50%;
    display: flex;
    border-left: 1px solid #dedede;
}

.promo__content--first, .promo__content--third {
    height: 50%;
    display: flex;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #dedede;
}

.promo__content--second, .promo__content--fourth {
    border-bottom: 1px solid #dedede;
}

.promo__content--first {
    border-top-left-radius: 5px;
}

.promo__content--second {
    border-bottom-left-radius: 5px;
}

.promo__content--fifth {
    height: 100%;
    border: 1px solid #dedede;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-bottom: 1px;
}

.promo__content--fifth > p {
    color: red;
    padding: 10px 0;
}

.promo__content--fifth > img {
    padding: 10px 0;
}

.promo__content--price > small {
    padding: 10px 0;
    color: #ababab;
    text-decoration: line-through;
}

.promo__content--price > p {
    margin: 0;
    padding: 10px 0;
}

.promo__group--1, .promo__group--2, .promo__group--3 {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
} 

.promo__content {
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.promo__content > p {
    margin: auto;
    line-height: 1.8;
}

/* Hero Section */
.hero {
    background-image: linear-gradient(-51deg, #00D7F8 0%, #00AEEE 100%);
    height: 550px;
}

.nav {
    height: 100px;
    display: flex;
    align-items: center;
}

.nav__brand {
    padding: 10px 0;
}

.nav__group {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav__brand > img {
    max-width: 170px;
}

.nav__menu {
    list-style: none;
    padding: 10px 0;
    margin-left: 20px;
}

.nav__menu--mobile {
    display: flex;
}

.nav__item {
    display: inline-block;
    padding: 30px 10px 10px 10px;
}

.nav__item > a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.nav__item > a > .login::after {
    background-image: url('./assets/icons/caret.svg');
    background-size: 14px 14px;
    content: '';
    width: 14px;
    height: 14px;
    display: inline-block;
    vertical-align: middle;
}

.header {
    margin: 20px 0;
}

.header__input {
    margin: 30px 0;
}

.header__input--group > input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    max-width: 600px;
    width: 100%;
    margin: 0;
}

.header__input--group > .button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-left: -5px;
    padding: 12px 20px 11px 20px;
}

.header__title {
    margin: 100px 0 10px 0;
}

.header__title > h1 {
    color: white;
    font-size: 46px;
    font-weight: 500;
    line-height: 1.5;
}

/* Feature Section */
.feature__group {
    padding: 50px 0 0 0;
}

.feature__title > h2 {
    font-weight: 600;
    font-size: 30px;
}

.feature__list {
    display: flex;
    align-items: center;
    margin: 80px 0;
}

.feature__description {
    flex: 2;
    padding: 0 15px;
    box-sizing: border-box;
}

.feature__description > h2 {
    font-weight: 500;
    margin-top: 0;
}

.feature__description > p {
    line-height: 1.8;
    margin: 20px 0 30px 0;
    font-weight: 300;
}

.feature__image {
    flex: 1;
    justify-content: center;
    display: flex;
    padding: 0 15px;
    box-sizing: border-box;
}

.feature__image > img {
    max-width: 350px;
    width: 100%;
}

.feature__second > .feature__image > img {
    max-width: 310px;
}

/* Package Section */
.package {
    padding: 100px 0;
    background-color: var(--bg-color);
}

.package__title > h2 {
    font-weight: 600;
    font-size: 30px;
}

.package__grid {
    display: flex;
    margin-top: 50px;
}

.package__card {
    flex: 1;
    text-align: center;
    margin: 15px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    transition: 0.3s;
    background-color: white;
    padding: 15px 15px 30px 15px;
    display: flex;
    flex-direction: column;
}

.package__card:hover {
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.package__card--recomended {
    transform: scale(1.1);
    z-index: 1;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 20px 15px 30px 15px;
}

.package__label {
    padding: 7px 20px;
    background-color: var(--bg-color);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    color: var(--primary-color);
    max-width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.package__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.package__name {
    font-size: 22px;
    font-weight: 500;
}

.package__image {
    max-width: 200px;
    width: 100%;
}

.package__price {
    margin: 20px 0;
}

.package__price > h4 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 600;
}

.package__price > p {
    margin-top: 5px;
    font-weight: 300;
    font-size: 14px;
}

.package__description > ul {
    list-style: none;
    padding: 0;
    margin: 30px 0;
}

.package__description > ul > li {
    line-height: 1.8;
    font-weight: 300;
}

.package__description > ul > li > b {
    font-weight: 600;
}

/* Support Section */
.support {
    padding: 100px 0;
}

.support__group {
    display: flex;
    align-items: center;
}

.support__image {
    flex: 1;
}

.support__image > img {
    max-width: 300px;
    width: 100%;
}

.support__description {
    flex: 2;
}

.support__description > h2{
    font-weight: 500;
}

.support__description > p{
    margin: 20px 0;
    line-height: 1.8;
    font-weight: 300;
}

.support__services {
    display: flex;
    align-items: center;
}

.support__services > img{
    max-width: 40px;
    width: 100%;
    margin: 0 20px 0 30px;
    cursor: pointer;
}

.support__input {
    max-width: 430px;
    width: 100%;
    position: relative;
}

.support__input > input{
    border: 1px solid #dedede;
    max-width: 400px;
    width: 100%;
}

.support__input > span:after {
    content: '';
    background-image: url('./assets/icons/send.svg');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 13px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/* Footer Section */
.footer {
    background-color: var(--dark-color);
    color: white;
    padding: 30px 0 20px 0;
}

.footer__group {
    display: flex;
}

.footer__menu {
    flex: 1;
}

.footer__menu > b{
    font-size: 14px;
}

.footer__list {
    list-style: none;
    padding: 0;
    line-height: 1.8;
    font-size: 14px;
}

.footer__copyright {
    padding-top: 20px;
    border-top: 0.5px solid #eeeeee;
    font-size: 14px;
}

/* BREAKPOINTS */
/* Mobile */
@media (max-width: 600px) {
    /* Container */
    .container {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    /* Utilities */
    .hide--mobile {
        display: none !important;
    }
    
    /* Top Bar Section Mobile */
    .top-bar {
        display: none;
    }

    /* Hero Section Mobile */
    .nav {
        padding: 0 15px;
    }

    .nav__brand > img {
        max-width: 150px;
        margin-left: 5px;
    }

    .nav__group {
        justify-content: flex-end;
    }

    .nav__menu {
        padding: 5px 0;
        margin: 15px 5px 5px 0;
        transform: scale(0.95);
    }

    .nav__menu > li {
        display: inline-block;
    }

    .nav__item {
        padding: 5px;
    }

    .header__input {
        margin: 0 auto;
    }

    .header__input--group {
        display: flex;
        padding: 0 20px;
    }

    .header__input--group > input {
        flex: 8;
        box-sizing: border-box;
    }

    .header__input--group > .button {
        flex: 1;
        box-sizing: border-box;
        height: 100%;
        box-sizing: border-box;
    }

    .header__title {
        margin: 130px 0 0 0;
        padding: 0 15px;
        text-align: center;
    }

    .header__title > h1 {
        font-size: 32px;
    }

    /* Promo Section Mobile */
    .promo__group {
        flex-direction: column;
    }

    .promo__content--first, .promo__content--second, .promo__content--third, .promo__content--fourth {
        border-left: 1px solid #dedede;
        border-right: 1px solid #dedede;
        border-bottom: none;
        border-top: 1px solid #dedede;
    }

    .promo__group--1 > .promo__content > p, .promo__group--2 > .promo__content > p {
        padding: 8px 0;
    }

    .promo__content--first {
        border-top-right-radius: 5px;
    }

    .promo__content--second {
        border-bottom-left-radius: 0;
    }

    .promo__content--fifth {
        border-bottom-left-radius: 5px;
        border-top-right-radius: 0;
    }

    /* Feature Section Mobile */
    .feature__group {
        padding: 50px 0 0 0;
    }

    .feature__list {
        flex-direction: column;
        margin: 50px 0;
    }

    .feature__title > h2 {
        margin: 0 15px;
    }

    .feature__description {
        order: 2;
        text-align: center;
        padding: 0 20px;
    }

    .feature__image {
        order: 1;
        margin: 20px;
    }

    /* Package Section Mobile */
    .package {
        padding: 50px 0;
    }

    .package__grid {
        flex-direction: column;
        margin-top: 0;
    }
    
    .package__card {
        margin: 15px 20px;
    }

    /* Support Section Mobile */
    .support {
        padding: 50px 0;
    }

    .support__group {
        flex-direction: column;
    }

    .support__description {
        text-align: center;
    }

    .support__description > p {
        padding: 0 15px;
    }

    .support__services {
        display: flex;
        padding: 0 15px;
    }
    .support__input {
        flex: 2;
        width: 100%;
    }
    .support__input > input{
        width: 100%;
        position: relative;
        box-sizing: border-box;
    }

    .support__input > span:after {
        right: 10px;
    }

    .support__services > img{
        flex: 3;
        display: block;
        margin: 0 0 0 10px;
    }

    /* Footer Section Mobile */
    .footer__group {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 10px;
    }

    .footer__menu {
        margin: 10px;
    }

    .footer__copyright {
        text-align: center;
    }
}

/* Tablet */
@media (min-width: 600px) and (max-width: 1024px) {
    .container {
        max-width: 900px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: 0 15px;
    }
}

/* Desktop */
@media (min-width: 1366px) {
    .container {
        max-width: 1114px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}